<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/resources/css/home.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/empListManager"></script>
<h1>Employee Management System</h1>
empName : <input type="text" id="inpEmpName">
dept : <input type="text" id="inpDept">
grade : <input type="text" id="inpGrade">
<button id="addEmployee">Add Employee</button>
<hr>
<table>
    <tr>
        <th>empNo</th>
        <th>empName</th>
        <th>dept</th>
        <th>grade</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <% data.forEach( (curPeople) => { %>
        <tr>
            <td id="empNo"><%= curPeople.empNo %></td>
            <td><%= curPeople.empName %></td>
            <td><%= curPeople.dept %></td>
            <td><%= curPeople.grade %></td>
            <td><button class="editButton">edit</button></td>
            <td><button class="deleteButton">delete</button></td>
        </tr>
    <% }); %>
</table>
</body>
</html>
