table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.editButton, .deleteButton {
    padding: 5px;
    border: none;
    cursor: pointer;
}
.editButton:hover,.deleteButton:hover {
    background-color: #ddd;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}